body{
    background-color: rgb(31, 28, 28);
}
#box{
    background-color: rgb(56, 50, 50);
    height: 150px;
    width: 250px;
}

input{
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keys{
    height: 40px;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: white;
    
}
.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}